<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="ADBCJ-TCK" verbose="1" >
    <test name="MySQL">
        <parameter name="jdbcUrl" value="jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />
        <parameter name="url" value="adbcj:mysql://localhost/adbcjtck" />
        <parameter name="user" value="adbcjtck" />
        <parameter name="password" value="adbcjtck" />
        <packages>
            <package name="org.adbcj.tck.test" />
        </packages>

        <classes>
            <class name="org.adbcj.tck.InitMysql" />
            <!--<class name="org.adbcj.tck.test.CloseConnectionsTest"/>-->
            <!--<class name="org.adbcj.tck.test.CancelingRequests"/>-->
            <!--<class name="org.adbcj.tck.test.CloseConnectionsTest"/>-->
            <!--<class name="org.adbcj.tck.test.SupportedDataTypesTest"/>-->
        </classes>
    </test>
    <!--<test name="MySQL-Pooled">-->
        <!--<parameter name="jdbcUrl" value="jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />-->
        <!--<parameter name="url" value="adbcj:pooled:mysql://localhost/adbcjtck" />-->
        <!--<parameter name="user" value="adbcjtck" />-->
        <!--<parameter name="password" value="adbcjtck" />-->
        <!--<packages>-->
            <!--<package name="org.adbcj.tck.test" />-->
        <!--</packages>-->

        <!--<classes>-->
            <!--<class name="org.adbcj.tck.InitMysql" />-->
            <!--&lt;!&ndash;<class name="org.adbcj.tck.test.CloseConnectionsTest"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="org.adbcj.tck.test.CancelingRequests"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="org.adbcj.tck.test.CloseConnectionsTest"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="org.adbcj.tck.test.SupportedDataTypesTest"/>&ndash;&gt;-->
        <!--</classes>-->
    <!--</test>-->
	<!--<test name="MySQL-JDBC">-->
		<!--<parameter name="jdbcUrl" value="jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />-->
		<!--<parameter name="url" value="adbcj:jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />-->
		<!--<parameter name="user" value="adbcjtck" />-->
		<!--<parameter name="password" value="adbcjtck" />-->
		<!--<packages>-->
			<!--<package name="org.adbcj.tck.test" />-->
		<!--</packages>-->
		<!--<classes>-->
            <!--<class name="org.adbcj.tck.InitMysql" />-->
            <!--&lt;!&ndash;<class name="org.adbcj.tck.test.CloseConnectionsTest"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="org.adbcj.tck.test.CloseConnectionsTest"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="org.adbcj.tck.test.SupportedDataTypesTest"/>&ndash;&gt;-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Postgresql">-->
		<!--<parameter name="url" value="adbcj:postgresql://localhost/adbcjtck" />-->
		<!--<parameter name="user" value="adbcjtck" />-->
		<!--<parameter name="password" value="adbcjtck" />-->
		<!--<packages>-->
			<!--<package name="org.adbcj.tck.test" />-->
		<!--</packages>-->
	<!--</test>-->
	<!--<test name="Postgresql-JDBC">-->
		<!--<parameter name="url" value="adbcj:jdbc:postgresql://localhost/adbcjtck" />-->
		<!--<parameter name="user" value="adbcjtck" />-->
		<!--<parameter name="password" value="adbcjtck" />-->
		<!--<packages>-->
			<!--<package name="org.adbcj.tck.test" />-->
		<!--</packages>-->
		<!--<classes>-->
			<!--<class name="org.adbcj.tck.InitPostgresqlJdbc" />-->
		<!--</classes>-->
	<!--</test>-->
</suite>