<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="ADBCJ-TCK" verbose="1" >
	<test name="MySQL-JDBC">
		<parameter name="jdbcUrl" value="jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />
		<parameter name="url" value="adbcj:jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />
		<parameter name="user" value="adbcjtck" />
		<parameter name="password" value="adbcjtck" />
        <parameter name="setupClass" value="org.adbcj.tck.InitMysql" />
        <parameter name="connectionPool" value="false" />
		<packages>
			<package name="org.adbcj.tck.test" />
		</packages>
	</test>
    <test name="MySQL">
        <parameter name="jdbcUrl" value="jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />
        <parameter name="url" value="adbcj:mysql://localhost/adbcjtck" />
        <parameter name="user" value="adbcjtck" />
        <parameter name="password" value="adbcjtck" />
        <parameter name="setupClass" value="org.adbcj.tck.InitMysql" />
        <parameter name="connectionPool" value="false" />
        <packages>
            <package name="org.adbcj.tck.test" />
        </packages>
    </test>
    <test name="MySQL-ConnectionPool">
        <parameter name="jdbcUrl" value="jdbc:mysql://localhost/adbcjtck?characterEncoding=UTF-8" />
        <parameter name="url" value="adbcj:mysql://localhost/adbcjtck" />
        <parameter name="user" value="adbcjtck" />
        <parameter name="password" value="adbcjtck" />
        <parameter name="setupClass" value="org.adbcj.tck.InitMysql" />
        <parameter name="connectionPool" value="true" />
        <packages>
            <package name="org.adbcj.tck.test" />
        </packages>
    </test>
    <test name="H2-JDBC">
        <parameter name="jdbcUrl" value="jdbc:h2:tcp://localhost:14242/adbcjtck;MVCC=TRUE" />
        <parameter name="url" value="adbcj:jdbc:h2:tcp://localhost:14242/adbcjtck;MVCC=TRUE" />
        <parameter name="user" value="adbcjtck" />
        <parameter name="password" value="adbcjtck" />
        <parameter name="setupClass" value="org.adbcj.tck.InitH2" />
        <parameter name="connectionPool" value="false" />
        <packages>
            <package name="org.adbcj.tck.test" />
        </packages>
    </test>
    <test name="H2-ADBCJ">
        <parameter name="jdbcUrl" value="jdbc:h2:tcp://localhost:14242/adbcjtck;MVCC=TRUE" />
        <parameter name="url" value="adbcj:h2://localhost:14242/adbcjtck;MVCC=TRUE" />
        <parameter name="user" value="adbcjtck" />
        <parameter name="password" value="adbcjtck" />
        <parameter name="setupClass" value="org.adbcj.tck.InitH2" />
        <parameter name="connectionPool" value="false" />
        <packages>
            <package name="org.adbcj.tck.test" />
        </packages>
    </test>
    <test name="H2-ADBCJ-Connection-Pool">
        <parameter name="jdbcUrl" value="jdbc:h2:tcp://localhost:14242/adbcjtck;MVCC=TRUE" />
        <parameter name="url" value="adbcj:h2://localhost:14242/adbcjtck;MVCC=TRUE" />
        <parameter name="user" value="adbcjtck" />
        <parameter name="password" value="adbcjtck" />
        <parameter name="setupClass" value="org.adbcj.tck.InitH2" />
        <parameter name="connectionPool" value="true" />
        <packages>
            <package name="org.adbcj.tck.test" />
        </packages>
    </test>
</suite>